services:
  tailscalesd:
    image: tailscalesd:dev
    build:
      context: .
      dockerfile: Dockerfile.local
    ports:
      - "9242:9242"
    environment:
      TAILSCALE_CLIENT_ID: "${TAILSCALE_CLIENT_ID}"
      TAILSCALE_CLIENT_SECRET: "${TAILSCALE_CLIENT_SECRET}"
    command: "-6 -v DEBUG -a 0.0.0.0:9242"
    restart: unless-stopped

  blackbox:
    image: prom/blackbox-exporter:latest
    cap_add:
      - NET_RAW
      - NET_ADMIN
    ports:
      - "9115:9115"
    configs:
      - source: blackbox_config
        target: /etc/blackbox_exporter/config.yml
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    depends_on:
      - tailscalesd
      - blackbox
    restart: unless-stopped

configs:
  blackbox_config:
    content: |
      modules:
        icmp_ping:
          prober: icmp
          timeout: 3s

  # The following configuration produces targets from the Tailnet with all ACL
  # tags converted to labels like "ts_tag_$TAGNAME", and adds a label "online"
  # with the string value "true" or "false" as appropriate. See the examples
  # section in README.md for more details.
  prometheus_config:
    content: |
      global:
        scrape_interval: 1m
      scrape_configs:
        - job_name: tailscalesd-dev
          metrics_path: /probe
          params:
            module: [icmp_ping]
          http_sd_configs:
            - url: http://tailscalesd:9242/
          relabel_configs:
            - source_labels: [__address__]
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - source_labels: [__meta_tailscale_device_hostname]
              target_label: tailscale_hostname
            - source_labels: [__meta_tailscale_device_name]
              target_label: tailscale_name
            - source_labels: [__meta_tailscale_device_online]
              target_label: online
            - action: labelmap
              regex: __meta_tailscale_device_tag_(.+)
              replacement: ts_tag_$1
            - target_label: __address__
              replacement: blackbox:9115
